@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
  /* background-image: url("../src/assets/background-ib.svg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #010173;
}